.no-title-padding {
  padding: 0px !important;

  mat-card-content {
    padding: 0 24px 18px 24px !important;
  }

  mat-card-actions {
    margin: -16px 0 0 0 !important;
  }
}

.mat-card-title {
  h2, h3 {
    margin: 0 !important;
    padding: 0 !important;
    font-weight: 100 !important;
  }

  h2 {
    font-size: 3.0rem;
  }

  text-transform: uppercase;
  color: #FFF;
  background: $blue;
  padding: 1.8rem !important;
  margin: 0;
}
