$lightblue:             #5Bc2e7;
$blue:                  #004f71;
$purple:                #2f0347;

$m-charcoal:               #222731;
$m-darkgray:               #63666A;
$m-gray:                   #888B8D;
$m-lightgray:              #D9D9D6;


$brand-primary:         #009cde;
$brand-light:           #5Bc2e7;
$brand-dark:            #004f71;
$brand-darker:          #002a3a;
$brand-success:         #00B140;
$brand-info:            #5Bc2e7;
$brand-warning:         #EEB33B;
$brand-danger:          #E4002B;
$brand-black:           #222731;
$brand-gray:            #2a2b33;

$brand-purple: #470A68;
$brand-magenta: #AA0061;
$brand-gold: #EEB33B;
$brand-yellow: #FFD100;
$brand-medium-green: #00B140;
$brand-light-green: #7CCC6C;


$link-color:             #AA0061;

$app-gray:              #f6f6f6;
$app-border:            #e1e1e1;


$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%); // #222
$gray-dark:              lighten($gray-base, 20%);   // #333
$gray:                   lighten($gray-base, 33.5%); // #555
$gray-light:             lighten($gray-base, 46.7%); // #777
$gray-lighter:           lighten($gray-base, 93.5%); // #eee

$m-white: #FFF;
$m-black: #000;
