.mat-tab-nav-bar {
  border-bottom: none;

  & .mat-tab-link {
    opacity: 1;
  }

  & .mat-tab-link.active,
  &.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus {
    color: white !important;
    background-color: #004f71;
  }

  .mat-tab-links a {
    &:hover {
      text-decoration: none;
    }

    &:focus {
      text-decoration: none;
    }
  }
}

::ng-deep .mat-tab-links {
  padding: 0;
  background-color: #fafafa;
}

::ng-deep .mat-tab-links a {
  color: rgba(0, 0, 0, 0.87) !important;
  font-size: 14px;
  text-decoration: none;
}
