<!--The content below is only a placeholder and can be replaced.-->
<mat-card class="no-title-padding">
  <div>
    <img width="30" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    Welcome to {{ title }}
  </div>
  <div class="row">
    <div class="col-sm-1">
         
    </div>
    <div class="col-sm-1" style="padding-top: 15px;">
        Single:  
    </div>
    <div class="col-sm-3">
      <searchable-select class="w-p-95"  placeHolder="Customers"  
        [data]="data"  (optionSelected)="selectionChanged($event)">
      </searchable-select>
    </div>
    <div class="col-sm-1" style="padding-top: 15px;">
        Multiple:  
    </div>
    <div class="col-sm-3">
      <searchable-multiSelect class="w-p-95" extended="true" placeHolder="Customers" 
              [data]="data" [sortBy]="sortBy" [defaultSelectAll]="true" (optionSelected)="selectionChanged($event)">
      </searchable-multiSelect>
    </div>
    
  </div>
</mat-card>

